@font-face {
  font-family: 'JakartaSans';
  src: 
    local('Plus Jakarta Sans'),
    url('/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'JakartaSans';
  src: 
    local('Plus Jakarta Sans'),
    url('/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf');
  font-weight: 700;
}


:root {
  --main-lime-colour: hsl(61, 70%, 52%);
  --error-red: hsl(4, 69%, 50%);
  --white: hsl(0, 0%, 100%);
  --slate-100: hsl(202, 86%, 94%);
  --slate-300: hsl(203, 41%, 72%);
  --slate-500: hsl(200, 26%, 54%);
  --slate-700: hsl(200, 24%, 40%);
  --slate-900: hsl(202, 55%, 16%);

  --ff-base: JakartaSans, sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;
}

body {
  font-family: var(--ff-base);
  color: var(--slate-900);
}

input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  }
  input[type=number] {
  -moz-appearance: textfield;
}

.wrapper {
  max-width: 375px;
  margin: 0 auto;
  align-content: center;
  border: 2px teal dotted;
  border-radius: 12px;
}
.calculator {
  padding: 1rem 1.3rem;
  color: var(--slate-500);
}
h1 {
  padding: 0;
  margin-top: 0.5rem;
  color: var(--slate-900);
}
.reset-block {
  margin-top: -1rem;
  margin-bottom: 2rem;
}
.reset-btn {
  color: var(--slate-500);
  border-bottom: 1.5px solid var(--slate-500);
}
form {
  padding-right: .5rem;
}
form > .field-label {
  margin-top: 1.2rem;
  margin-bottom: .6rem;
}
.amount-field {
  border: 1.5px solid var(--slate-500);
  border-radius: 4px;
  display: grid;
  grid-template-columns: auto 1fr;
}
.dollar-sign{
  padding: .6rem .8rem;
  font-weight: 700;
}
.amount-input-field {
  padding: .6rem .4rem;
  font-weight: 700;
}
.dollar-sign {
  background: var(--slate-100);
  z-index: -1;
  font-weight: 700;
  color: var(--slate-700);
}

.term-field {
  border: 1.5px solid var(--slate-500);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 250px 74px;
}
.term-input{
  padding: .6rem .4rem;
  font-weight: 700;
} 
.term-span {
  padding: .6rem .9rem;
  font-weight: 700;
}
.term-span {
  background: var(--slate-100);
  z-index: -1;
  font-weight: 700;
  color: var(--slate-700);
}
input {
  border: none;
  padding-right: 1rem;
  margin: 0 .6rem;
  font-family: var(--ff-base);
  color: var(--slate-700);
  font-size: 1rem;
  
}
input:focus {
  outline: none;
  
}
/*
.dollar-sign::before {
  content: "$";
  font-size: var(--fw-bold);
  color: var(--slate-500);
  margin: -1rem;
} */
.input-field {
  margin-top: .6rem;
  padding: .8rem 0;
  border: 1.5px solid var(--slate-500);
  border-radius: 7px;
  width: 100%;
}
form > input {
  margin-top: .6rem;
  padding: .8rem 0;
  border: 1.5px solid var(--slate-500);
  border-radius: 7px;
  width: 100%;
  
}

.results-before, 
.results-after {
  color: var(--slate-100);
  background: var(--slate-900);
  padding: 1rem;
}
/*

### Primary

- Lime: hsl(61, 70%, 52%)
- Red: hsl(4, 69%, 50%)

### Neutral

- White: hsl(0, 0%, 100%)
- Slate 100: hsl(202, 86%, 94%)
- Slate 300: hsl(203, 41%, 72%)
- Slate 500: hsl(200, 26%, 54%)
- Slate 700: hsl(200, 24%, 40%)
- Slate 900: hsl(202, 55%, 16%)

*/